#wrapper {
  min-height: 600px;
}

.card {
  width: calc(100% - 20px);
  border: 1px solid $darkBlue;
  border-radius: 8px;
  background: #fff;
  margin: 10px;
  padding: 10px 25px 10px 10px;

  transition: $btnTransition;

  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .user-name {
    display: flex;
    align-items: center;
    margin: 35px 0;

    img {
      margin-bottom: 10px;
    }

    h4 {
      font-size: 16px;
      margin-left: 15px;
    }
  }

  .user-options {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .more-info {
    
    p {
      margin: 10px 0;
    }
  }

  .option-color {
    color: $darkBlue;
  }
}

#pagitation-buttons {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 25px;

  .pagitaion-btn {
    flex: 0 1 40px;
    height: 40px;
    outline: 0;
    border: 1px solid $darkBlue;
    border-radius: 50px;
    background: #fff;
    color: $darkBlue;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;

    transition: $btnTransition;

    &:hover {
      background: rgba(175, 211, 226, 0.3);
    }
  }
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 0 10px 20px;

  .left {
    display: flex;
    gap: 10px;

    .counter {
      cursor: default;
      @include tag;
    }
  
    .page-display {
      cursor: default;
      @include tag;
    }
  }

  .right {
    display: flex;
    gap: 10px;

    .filters {
      @include tag;
    }
  }
}

#filters-wrapper {
  
  h3 {
    margin: 0 10px 15px;
    font-size: 16px;
    color: #146C94;
  }

  .gender-list {
    margin: 0 10px 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px 10px;
    // display: none;
  
    .checkbox-tag-card {
  
      .checkbox-filter {
        @include checkboxTag;
      }
      input {
        display: none;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
  
        // &:checked + label {
        //   background: #146C94;
        //   color: #fff;
        // }
      }
    }
  }
}

#not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 300px;
  height: calc(100vh - 200px);

  img {
    width: 200px;
    margin: 0 auto;
  }
  p {
    text-align: center;
    font-size: 26px;
    margin-top: 30px;
    text-transform: uppercase;
  }
}