.card-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
}

.modal {
  background: #fff;
  padding: 140px 70px;
  width: calc(1000px - 20px);
  min-width: 400px;
  border-radius: 8px;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }

  #close-button {
    position: absolute;
    right: 25px;
    top: 20px;
  }

  button {
    border: none;
    outline: none;
    background: transparent;
    color: $darkBlue;
    font-size: 26px;

    transition: $btnTransition;

    &:hover {
      color: #E06469;
    }
  }

  .headline {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      margin-bottom: 10px;
    }
  }

  p {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .option-color {
    color: $darkBlue;
  }

}